#main::before {
  content: "DUC Filesystem Report";
  font-variant: small-caps;
  font-size: xx-large;
  border-bottom: 0.1em solid white;
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
  display: block;
}

#index {
  border-bottom: none !important;
}

body {
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004864,
    #007a7f,
    #63ac8a,
    #c3d895
  );

  color: white;
  padding: 2em;
  text-shadow: 0px 0px 4px rgba(80, 80, 80, 1);
  font-size: 0.9em !important;
  font-weight: lighter !important;
}

a {
  color: white;
  text-decoration: none;
  background: #27ae60;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-right: 1em;
  padding-left: 0.6em;
  border-radius: 25em;
  box-shadow: 0px 0px 4px rgba(80, 80, 80, 1);
}
a:hover {
  background: #3498db;
}
a::before {
  content: "• ";
}

/* List specifics*/
#list {
  display: block;
  position: absolute;
  right: 4em;
  top: 6em;
}

#list td.size,
#list th.size,
#list td.name,
#list th.name {
  padding: 0.4em;
  padding-right: 1em;
  padding-left: 1em;
}


#list td {
  border-bottom: 1px solid white;
  border-radius: 100px;
}



/* Header index specific selectors */
#index > table > tbody > tr:nth-child(1) {
  /* Hide the header row */
  visibility: hidden;
  display: none;
}

#index > table > tbody > tr > td:nth-child(3)::before,
#index > table > tbody > tr > td:nth-child(4)::before,
#index > table > tbody > tr > td:nth-child(5)::before {
  content: "•";
  padding-right: 1em;
  padding-left: .5em;
}

#index > table > tbody > tr > td:nth-child(2)::after {
  content: " total";
}

#index > table > tbody > tr > td:nth-child(3)::after {
  content: " files";
}
#index > table > tbody > tr > td:nth-child(4)::after {
  content: " directories";
}

#index > table > tbody > tr > td:nth-child(6)::before {
  content: "at";
  padding-right: .6em;
}

/* Tooltip */
#tooltip {
  border: none !important;
  border-radius: 0.2em;
  padding: 0.2em;
  padding-right: 1em;
  padding-left: 0.6em;
  background-color: rgb(0, 0, 0, 0.4);
}

